################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/.vs/KeeReloadLastUsedFiles/v16
/Source/obj
